# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/PROJETO_FINAL/nbproject/private/
/PROJETO_FINAL/build/
/JavaApplication2/nbproject/private/
/HTML5Application/nbproject/private/
/JavaApplication3/nbproject/private/
/meuProjeto/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication6/nbproject/private/
/Array/nbproject/private/
/Array/build/
/ArrayApp/nbproject/private/
/JavaApplication9/nbproject/private/
/ArrayApp/build/
/AprimoramentoParaTeste/nbproject/private/
/AprimoramentoParaTeste/build/
/PassArray/nbproject/private/
/PassArray/build/
/AtivdadePII/nbproject/private/
/AtivdadePII/build/
/ExemplosJava/nbproject/private/
/ExemplosJava/build/
/grafico/nbproject/private/
/grafico/build/
/NetBeans-GoogleMap-master/nbproject/private/
/GraficoJava/nbproject/private/
/GRAFICO/nbproject/private/
/GRAFICO/build/
/GraficaBarras/nbproject/private/
/AtividadeLPII/nbproject/private/
/AtividadeLPII/build/
/LINGUAGEM_PROGRAMACAO_I/FUNDAMENTOS/build/
/LINGUAGEM_PROGRAMACAO_I/FUNDAMENTOS/nbproject/private/
/LINGUAGEM_PROGRAMACAO_I/Indici de Massa Corporal/nbproject/private/
/ArrayLIst/nbproject/private/
/ArrayLIst/build/
/WebMapProject/WebMap/build/
/PhpProject1/nbproject/private/
/StringConstructors/nbproject/private/
/StringConstructors/build/
/StringMiscellaneous/nbproject/private/
/StringMiscellaneous/build/
/StringMiscellaneous2/nbproject/private/
/StringMiscellaneous2/build/
/StringConcatenation/nbproject/private/
/StringConcatenation/build/
/LINGUAGEM DE PROGRAMACAO II/nbproject/private/
/LINGUAGEM DE PROGRAMACAO II/build/
/CODIGO-JAVA-PROJETO/nbproject/private/
/nbproject/private/
/sistemaBancario/nbproject/private/
/Projeto_JSF_PrimeFaces_Final/build/
/LINGUAGEM_PROGRAMACAO_II/TrabalhoLPII/dist/
/PHP_BLOG/nbproject/private/
/Cliente/nbproject/private/
/Servidor/nbproject/private/
/Cliente/build/
/Servidor/build/
/TutorialJTable/nbproject/private/
/TutorialJTable/build/
/JTable/nbproject/private/
/JTable/build/
/PROGRAMAS DIVERSOS/PROJETO_FINAL/nbproject/private/
/PROGRAMAS DIVERSOS/PROJETO_REVISAO/build/
/PROGRAMAS DIVERSOS/PROJETO_REVISAO/nbproject/private/
/PROGRAMAS DIVERSOS/Projeto_JSF_PrimeFaces/build/
/PROGRAMAS DIVERSOS/Projeto_JSF_PrimeFaces/nbproject/private/
/PROGRAMAS DIVERSOS/Projeto_JSF_PrimeFaces_Final/build/
/PROGRAMAS DIVERSOS/Projeto_JSF_PrimeFaces_Final/nbproject/private/
/PROGRAMAS DIVERSOS/TratamentoEx/build/
/PROGRAMAS DIVERSOS/TratamentoEx/nbproject/private/
/PROGRAMAS DIVERSOS/WebMapProject/WebMap/nbproject/private/
/PROGRAMAS DIVERSOS/usandoExcecao/build/
/PROGRAMAS DIVERSOS/usandoExcecao/nbproject/private/
/PROGRAMAS DIVERSOS/CHAT_SOCKET/Cliente/build/
/PROGRAMAS DIVERSOS/CHAT_SOCKET/Cliente/nbproject/private/
/PROGRAMAS DIVERSOS/CHAT_SOCKET/Servidor/build/
/PROGRAMAS DIVERSOS/CHAT_SOCKET/Servidor/nbproject/private/
/PROGRAMAS DIVERSOS/MapApp/MapApp/build/
/PROGRAMAS DIVERSOS/MapApp/MapApp/dist/
/PROGRAMAS DIVERSOS/MapApp/MapApp/nbproject/private/
/PROGRAMAS DIVERSOS/PHP_BLOG/nbproject/private/
/TrabalhoAlunoCrud/nbproject/private/
/TrabalhoAlunoCrud/build/
/TRABALHO_LP_II/nbproject/private/
/TRABALHO_LP_II/build/
/ArrayListCollection/nbproject/private/
/ArrayListCollection/build/
/produto/nbproject/private/
/Despesa/target/
/livro_caixa/nbproject/private/
/PROGRAMAS DIVERSOS/PhpProject1/nbproject/private/
/crud_php/nbproject/private/
/TRABALHO_LP_IIc/build/
/TRABALHO_LP_IIc/nbproject/private/
/ExemploConfigura/nbproject/private/